body{ 
justify-content: center;
align-items: center;
background-color: rgb(220, 250, 255);
margin-left: 170px;
}

canvas { 
    position: relative;
    align-items: center;
    background-image: url("layer1.jpg");
    background-size: cover;
}

#leaderboardForm{
    position:static;
   
}

li{
    font-family:'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding-left: 10px;
}
h1{
    font-family:'Trebuchet MS', sans-serif;
    font-size: 30px; 
    padding-left: 40px;
}

p{
    font-family:'Trebuchet MS', sans-serif;
    font-size: 15px; 
}
.header {
 padding: 20px;
 text-align: center;
 font-family: 'Trebuchet MS', sans-serif;
 height: 100px;
 background-image: url("waterHeader3.jpg");
 color: #eee2c7;
 font-size: 30px;
 -webkit-text-stroke: 1px rgb(153, 157, 160);
}
.header p { 
font-size: 15px;
}
.header h1{
    font-size: 50px;  
}



/* Navbar container */
.menuNav {
height: 100%;
 width: 165px;
 position: fixed;
 overflow: hidden;
 z-index: 1;
 top: 0;
 left: 0;
 background-color: rgb(61, 127, 172);
 overflow-x: hidden;
 padding-top: 20px;
 font-family: Arial;
}

/* Links inside the navbar */
.menuNav a {
 float: left;
 color: white;
 text-align: center;
 font-size: 25px;
 display: block;
   padding: 6px 8px 6px 16px;
 text-decoration: none;
}

.menuNav a:hover {
 background-color: #aaf;
 border-radius: 5px;
 color: white;
}
#startbtn {
   
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
 }



 #endbtn {
   
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
 }

 #mute {
   
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
 }

 #fullsc {
   
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
 }

 #playsd {
   
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
 } 
 #reducesc {
   
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
 }

 #mutesfx {
   
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
 }

 #sendscore { 
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
 }

 #leaderboard {
    border: 2px solid blue;
    margin-left: 40px;
}

#leaderboard > caption {
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

#leaderboard > thead {
    text-emphasis: strong;
}

#leaderboard >  th, td {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-style: inherit;
}